:root {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1B3C65;
  background-color: #F2E8E4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: url("assets/scale.png"), url("assets/image1.png"), url("assets/image2.png"), url("assets/image3.png"), url("assets/image4.png");
  background-position: 20px 120px, right bottom, left bottom, left top, right top;
  background-size: 1000px, 200px, 200px, 200px, 200px;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  margin-left: 2.1em;
  margin-right: 5em;
  width: 16em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  margin-left: 0.4em;
  margin-right: 5em;
  margin-top: 3.6em;
  width: 24em;
  font-weight: lighter;
}

p {
  text-align: center;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  position: absolute;
  top: 500px;
  left: 430px;
  font-size: 1.5em;
  font-weight: 1000;
  font-family: inherit;
  background-color: #528BAE;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
